@using Model;
@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>淮安市落实四种形态监督信息综合平台</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    @RenderPage("~/Views/Shared/Frame.cshtml")
    <style>
        .tab-content {
            padding: 16px 12px 0px 12px !important;
        }
    </style>
</head>
<script type="text/javascript">

        var _menus = "@Session["Menus"]";
        _menus = _menus.replace(/&quot;/g, "\"");
        var _menus = eval('(' + _menus + ')');



        function confirm() {

            bootbox.confirm( '确认退出系统吗？', function (result) {
                if (result) {
                    window.location.href = "/Login/Login";
                }
            });
        }
        function changePassword() {
            addTabs({id: 'ChangePassword' ,title: '修改密码',close: true,url: "/Admin/ChangePassword"});
            //addTab("修改密码", "/Admin/ChangePassword", 'icon-house');
            var ieset = navigator.userAgent;
            if (ieset.indexOf("MSIE 6.0") > -1) {
                var currTab1 = $('#tabs').tabs('getSelected');
                setTimeout(function () { refreshTab(currTab1) }, 0);
                function refreshTab(refresh_tab) {
                    if (refresh_tab && refresh_tab.find('iframe').length > 0) {
                        var _refresh_ifram = refresh_tab.find('iframe')[0];
                        var refresh_url = _refresh_ifram.src;
                        _refresh_ifram.contentWindow.location.href = refresh_url;
                    }
                }
            }
        }
</script>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <large>
                        <i class="fa fa-leaf"></i>淮安市落实四种形态监督信息综合平台
                    </large>
                </a>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <large>
                                @(((BaseInfo)Session["User"]).user.RealName)
                            </large>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#" onclick="changePassword();">
                                    <i class="ace-icon fa fa-user"></i>修改密码
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" onclick="confirm();">
                                    <i class="ace-icon fa fa-power-off"></i>退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-container" id="main-container">
        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list" id="menu">
                <li class="">
                    <a href="">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text">首页</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="page-content" style="padding-bottom: 0px !important;">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs" role="tablist" id="tabs">
                            <li class="active"><a href="" role="tab" data-toggle="tab">首页</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="Index">
                                <iframe src="http://localhost:8080/WebReport/ReportServer?reportlet=/AnalysisHA.cpt&op=view" id="myiframepage" name=" ifm" onload="iFrameHeight()" border="0" marginwidth="0" marginheight="0" scrolling="yes" allowtransparency="yes" frameborder="no" width="100%"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript" language="javascript">

    $(function () {
        var _menus = "@Session["Menus"]";
        _menus = _menus.replace("menus", "data");
        _menus = _menus.replace(/&quot;/g, "\"");
        _menus = _menus.replace(/menuname/g, "text");
        _menus = _menus.replace(/icon-nav/g, "menu-icon fa fa-tag");
        _menus = _menus.replace(/icon-sys/g, "menu-icon fa fa-desktop");
        _menus = _menus.replace(/menuid/g, "id");
        var _menus = eval('(' + _menus + ')');
        //alert(_menus);
        $('#menu').sidebarMenu(_menus);

    });


        function iFrameHeight() {
            var ifm = document.getElementById("myiframepage");
            ifm.height = $(window).height() - 160 + 'px';

        }

</script>

