form label{
    text-align:right;
    width:120px;
    display:inline-block;
    font-size:14px;
}
.inline-b{
    display:inline-block;
}
.margin-5{
    margin: 5px 10px 5px 10px;
}
.margin-l-10{
    margin:8px;
}
form input{
    font-size:12px;
    padding:8px;
    border:1px #cccccc solid;
}
.width-l{
    width:400px;
}
.width-m{
    width:300px;
}
.width-x{
    width:200px;
}
form select {
    width:218px;
    height:34px;
    border:1px #cccccc solid;
}
.border{
    border:1px #cccccc solid;
}
.Gradient {
    width:80%;
    padding:10px;
    background: -ms-linear-gradient(right, #fff,  #8fe3ff);        /* IE 10 */
    background:-moz-linear-gradient(right,#fff,#8fe3ff);/*火狐*/ 
    background:-webkit-gradient(linear, 100% 0%, 0% 0%,from(#b8c4cb), to(#8fe3ff));/*谷歌*/ 
    background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#fff), to(#8fe3ff));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(right, #fff, #8fe3ff);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #fff, #8fe3ff);  /*Opera 11.10+*/
}
form .combo{
    width:218px !important;
    margin: 5px 10px 5px 10px !important;
    height:34px !important;
    border:1px #cccccc solid !important;
}
form .combo-text{
    font-size:14px !important;
    width:195px !important;
    height:34px !important;
}
form .combo-arrow {
    height:36px !important;
    background-color:#ffffff !important;
}
@media screen and (max-width: 1920px) {
    .w-adapt{
        width:1184px;
    }
    .w-adapt-text{
        width:1022px;
    }
}
@media screen and (max-width: 1366px) {
    .w-adapt{
        width:780px;
    }
    .w-adapt-text{
        width:612px;
    }
}
